fastapi
uvicorn[standard]
https://storage.googleapis.com/adt-devops-pypi/packages/adtiam-25.6.1-py3-none-any.whl
https://storage.googleapis.com/adt-devops-pypi/packages/d6tflow-25.6.21-py3-none-any.whl
langchain-openai
supabase
pandas
openpyxl
xlrd
pyarrow
gcsfs
pygit2
loguru
python-gitlab
claude-agent-sdk
jinja2
langchain-core
pydantic
configobj
